<ion-header>
  <ion-navbar no-border-bottom>
    <ion-buttons end>
      <button ion-button icon-only (click)="onNewActivity()">
        <ion-icon name="add"></ion-icon>
      </button>
      <button ion-button icon-only (click)="onEditActivity(activity)">
        <ion-icon name="create"></ion-icon>
      </button>
      <button ion-button icon-only (click)="onRemoveActivity(activity)">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      {{ activity.activityTitle }}
    </ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="tab">
      <ion-segment-button value="info">
        Info
      </ion-segment-button>
      <ion-segment-button value="risks">
        Risks
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div [ngSwitch]="tab">
    <ion-list *ngSwitchCase="'info'">
      <ion-list-header>
        Activity Info
      </ion-list-header>
      <ion-grid>
        <ion-row>
          <ion-col text-center>
            <h2>{{ activity.activityTitle }}</h2>
            <div class="subtitle">{{ activity.activityAmountHours }} hours</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-justify>
            <p>{{ activity.activityDetails }}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
    
    <ion-list *ngSwitchCase="'risks'">
      <ion-list-header>
        Risks
      </ion-list-header>

      <ion-row *ngIf="risks.length == 0">
        <ion-col text-center>
          <p>No risks found</p>
          <p></p>
        </ion-col>
      </ion-row>

      <button 
        ion-item 
        *ngFor="let risk of risks; let i = index"
        (click)="onLoadRisk(risk, activity)">
        <ion-icon 
          color="primary" 
          name="{{ risk.riskIdentificationId ? 'checkmark-circle' : '' }}" 
          item-end></ion-icon>
        <!-- <ion-icon 
          color="danger" 
          name="close"
          item-end></ion-icon> -->
        <h2>{{ risk.riskTitle }}</h2>
        <ion-note [ngClass]="{ 'ion-note-threat': risk.riskTypeName == 'Threat', 
          'ion-note-opportunity': risk.riskTypeName == 'Opportunity' }">
          {{ risk.riskTypeName }}
        </ion-note>
      </button>

      <button class="new-button" ion-button block clear (click)="onNewRisk()">Add a new one</button>
    </ion-list>
  </div>
</ion-content>