<ion-header>
  <ion-navbar no-border-bottom>
    <ion-buttons end>
      <button ion-button icon-only (click)="onNewActivity()">
        <ion-icon name="add"></ion-icon>
      </button>
      <button ion-button icon-only (click)="onEditActivity(activity)">
        <ion-icon name="create"></ion-icon>
      </button>
      <button ion-button icon-only (click)="onRemoveActivity(activity)">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      {{ activity.activityTitle }}
    </ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="tab">
      <ion-segment-button value="info">
        Info
      </ion-segment-button>
      <ion-segment-button value="risks">
        Risks
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div [ngSwitch]="tab">
    <ion-list *ngSwitchCase="'info'">
      <ion-grid>
        <ion-row>
          <ion-col text-center>
            <h2>{{ activity.activityTitle }}</h2>
            <div class="subtitle">{{ activity.activityAmountHours }} hours</div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-justify>
            <p>{{ activity.activityDetails }}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
    
    <ion-list *ngSwitchCase="'risks'">
      <ion-row *ngIf="risks.length == 0">
        <ion-col text-center>
          <p>No risks found</p>
          <p></p>
        </ion-col>
      </ion-row>

      <button 
        ion-item 
        *ngFor="let risk of risks; let i = index"
        (click)="onLoadRisk(risk)">
        <h2>{{ risk.riskTitle }}</h2>
        <ion-badge 
          [ngClass]="{ 
            'ion-badge-threat': risk.riskTypeName == 'Threat', 
            'ion-badge-opportunity': risk.riskTypeName == 'Opportunity' }">{{ risk.riskTypeName }}</ion-badge>
        <ion-badge 
          color="light">{{ risk.riskCategoryName }}</ion-badge>
      </button>
    </ion-list>
  </div>
</ion-content>