<ion-header>
  <ion-navbar no-border-bottom>
    <ion-buttons end>
      <button ion-button icon-only (click)="onEditProject(project)">
        <ion-icon name="create"></ion-icon>
      </button>
      <button ion-button icon-only (click)="onRemoveProject(project)">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      {{ project.projectName }}
    </ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="tab">
      <ion-segment-button value="home">
        Home
      </ion-segment-button>
      <ion-segment-button value="activities">
        Activities
      </ion-segment-button>
      <ion-segment-button value="risks">
        Risks
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div [ngSwitch]="tab">
    <ion-list *ngSwitchCase="'home'">
      <ion-list-header>
        Project Info
      </ion-list-header>
      <ion-grid>
        <ion-row>
          <ion-col text-center>
            <h2 class="page-title">{{ project.projectName }}</h2>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-justify>
            <p>{{ project.projectScope }}</p>
            <p></p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>

    <ion-list *ngSwitchCase="'activities'">
      <ion-list-header>
        Activities
      </ion-list-header>

      <ion-row *ngIf="activities.length == 0">
        <ion-col text-center>
          <p>No activities found</p>
          <p></p>
        </ion-col>
      </ion-row>

      <button 
        ion-item 
        *ngFor="let activity of activities; let i = index"
        (click)="onLoadActivity(activity)">
        <h2>{{ activity.activityTitle }}</h2>
        <p>{{ activity.activityDetails }}</p>
      </button>
    </ion-list>

    <ion-list *ngSwitchCase="'risks'">
      <ion-list-header>
        Risks
      </ion-list-header>

      <ion-row *ngIf="risks.length == 0">
        <ion-col text-center>
          <p>No risks found</p>
          <p></p>
        </ion-col>
      </ion-row>

      <button 
        ion-item 
        *ngFor="let risk of risks; let i = index"
        (click)="onLoadRisk(risk)">
        <h2>{{ risk.riskTitle }}</h2>
        <ion-badge 
          [ngClass]="{ 
            'threat': risk.riskTypeName == 'Threat', 
            'opportunity': risk.riskTypeName == 'Opportunity' }">{{ risk.riskTypeName }}</ion-badge>
        <ion-badge 
          color="light">{{ risk.riskCategoryName }}</ion-badge>
      </button>
    </ion-list>
  </div>
</ion-content>