<ion-header>
  <ion-navbar no-border-bottom>
    <ion-buttons end>
      <button ion-button icon-only (click)="onNewProject()">
        <ion-icon name="add"></ion-icon>
      </button>
      <button ion-button icon-only (click)="onEditProject(project)">
        <ion-icon name="create"></ion-icon>
      </button>
      <button ion-button icon-only (click)="onRemoveProject(project)">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      {{ project.projectName }}
    </ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="tab">
      <ion-segment-button value="info">
        Info
      </ion-segment-button>
      <ion-segment-button value="activities">
        Activities
      </ion-segment-button>
      <ion-segment-button value="risks">
        Risks
      </ion-segment-button>
      <ion-segment-button value="reviews">
        Reviews
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div [ngSwitch]="tab">
    <ion-list *ngSwitchCase="'info'">
      <ion-list-header>
        Project Info
      </ion-list-header>
      <ion-grid>
        <ion-row>
          <ion-col text-center>
            <h2>{{ project.projectName }}</h2>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-justify>
            <p>{{ project.projectScope }}</p>
            <p></p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>

    <ion-list *ngSwitchCase="'activities'">
      <ion-list-header>
        Activities
      </ion-list-header>

      <ion-row *ngIf="activities.length == 0">
        <ion-col text-center>
          <p>No activities found. </p>
        </ion-col>
      </ion-row>

      <button ion-item *ngFor="let activity of activities; let i = index" (click)="onLoadActivity(activity)">
        <h2>{{ activity.activityTitle }}</h2>
        <p>{{ activity.activityDetails }}</p>
        <ion-badge color="energized">
          {{ activity.activityAmountRiskIdentifications }}
          {{ activity.activityAmountRiskIdentifications == 1 ? 'risk' : 'risks' }}
        </ion-badge>
        <ion-badge color="danger">
          {{ activity.activityAmountProblems }}
          {{ activity.activityAmountProblems == 1 ? 'problem' : 'problems' }}
        </ion-badge>
      </button>

      <button class="new-button" ion-button block clear (click)="onNewActivity()">Add a new one</button>
    </ion-list>

    <ion-list *ngSwitchCase="'risks'">
      <ion-list-header>
        Risks
      </ion-list-header>

      <ion-row *ngIf="risks.length == 0">
        <ion-col text-center>
          <p>No risks found</p>
        </ion-col>
      </ion-row>

      <button ion-item *ngFor="let risk of risks; let i = index" (click)="onLoadRisk(risk, project)">
        <ion-icon 
          color="primary" 
          name="{{ risk.riskIdentificationId ? 'checkmark-circle' : 'radio-button-off' }}" 
          item-start></ion-icon>
        <h2>{{ risk.riskTitle }}</h2>
        <ion-note [ngClass]="{ 'ion-note-threat': risk.riskTypeName == 'Threat', 
          'ion-note-opportunity': risk.riskTypeName == 'Opportunity' }">
          {{ risk.riskTypeName }}
        </ion-note>
        <p>{{ risk.riskProblemId ? 'Became a problem' : '' }}</p>
      </button>

      <button class="new-button" ion-button block clear (click)="onNewRisk()">Add a new one</button>
    </ion-list>

    <ion-list *ngSwitchCase="'reviews'">
      <ion-list-header>
        Reviewed Risks
      </ion-list-header>

      <ion-row *ngIf="reviewedRisks.length == 0">
        <ion-col text-center>
          <p>No risk reviews found. </p>
        </ion-col>
      </ion-row>

      <ion-grid *ngFor="let revRisk of reviewedRisks; let i = index">
        <ion-row>
          <ion-item>
            <h2 class="title">{{ revRisk.riskTitle }}</h2>
          </ion-item>
        </ion-row>
        <ion-row>
          <ion-item>
            Priority
            <ion-badge item-end [ngClass]="{
              'ion-badge-low': revRisk.riskReviewPriority == 'Low', 
              'ion-badge-medium': revRisk.riskReviewPriority == 'Medium', 
              'ion-badge-high': revRisk.riskReviewPriority == 'High' }">
              {{ revRisk.riskReviewPriority }}</ion-badge>
          </ion-item>
        </ion-row>
        <ion-row>
          <ion-item>
            Type
            <ion-badge item-end [ngClass]="{ 
              'ion-badge-threat': revRisk.riskTypeName == 'Threat', 
              'ion-badge-opportunity': revRisk.riskTypeName == 'Opportunity' }">
              {{ revRisk.riskTypeName }}</ion-badge>
          </ion-item>
        </ion-row>
        <ion-row>
          <ion-item>
            Consolidated Impact 
            <p>Higher value between cost, schedule, scope and quality</p>
            <ion-badge item-end color="light">
              {{ revRisk.consolidatedImpact }}
            </ion-badge>
          </ion-item>
        </ion-row>
        <ion-row>
          <ion-item>            
            Cost Impact
            <ion-badge item-end color="light">
              {{ revRisk.riskReviewCost }}
            </ion-badge>
          </ion-item>
        </ion-row>
        <ion-row>
          <ion-item>
            Expected Value
            <ion-badge item-end color="light">
              {{ revRisk.expectedValue | currency: 'USD' : true }}
            </ion-badge>
          </ion-item>
        </ion-row>
        <ion-row>
          <ion-item>
            Impact Value
            <ion-badge item-end color="light">
              {{ revRisk.impactValue | currency: 'USD' : true }}
            </ion-badge>
          </ion-item>
        </ion-row>
        <ion-row>
          <ion-item>
            Reviews            
            <ion-badge item-end color="light">
              {{ revRisk.riskReviewAmount }}
            </ion-badge>
          </ion-item>
        </ion-row>
      </ion-grid>

      <div class="divider"></div>

      <ion-list-header>
        Expected Values
      </ion-list-header>

      <ion-row *ngIf="!expectedValues?.bestCase">
        <ion-col text-center>
          <p>No expected values found. </p>
        </ion-col>
      </ion-row>

      <ion-grid>
        <ion-row>
          <ion-item *ngIf="expectedValues?.bestCase">
            <ion-icon name="thumbs-up" item-start></ion-icon>
            Best Case
            <ion-badge item-end color="secondary">
              {{ expectedValues?.bestCase | currency: 'USD' : true }}
            </ion-badge>
          </ion-item>
        </ion-row>
        <ion-row>
          <ion-item *ngIf="expectedValues?.baseValue">
            <ion-icon name="logo-usd" item-start></ion-icon>
            Base Value
            <ion-badge item-end color="light">
              {{ expectedValues?.baseValue | currency: 'USD' : true }}
            </ion-badge>
          </ion-item>
        </ion-row>
        <ion-row>
          <ion-item *ngIf="expectedValues?.expectedValue">
            <ion-icon name="umbrella" item-start></ion-icon>
            Expected Value
            <ion-badge item-end color="light">
              {{ expectedValues?.expectedValue | currency: 'USD' : true }}
            </ion-badge>
          </ion-item>
        </ion-row>
        <ion-row>
          <ion-item *ngIf="expectedValues?.worstCase">
            <ion-icon name="thumbs-down" item-start></ion-icon>
            Worst Case
            <ion-badge item-end color="danger">
              {{ expectedValues?.worstCase | currency: 'USD' : true }}
            </ion-badge>
          </ion-item>
        </ion-row>
      </ion-grid>
    </ion-list>
  </div>
</ion-content>