<ion-header>
  <ion-navbar no-border-bottom>
    <ion-buttons end>
      <button ion-button icon-only (click)="onNewRisk()">
        <ion-icon name="add"></ion-icon>
      </button>
      <button ion-button icon-only (click)="onEditRisk(risk)">
        <ion-icon name="create"></ion-icon>
      </button>
      <button ion-button icon-only (click)="onRemoveRisk(risk)">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      {{ risk.riskTitle }}
    </ion-title>
  </ion-navbar>

  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="tab">
      <ion-segment-button value="info">
        Info
      </ion-segment-button>
      <ion-segment-button value="actions">
        Actions
      </ion-segment-button>
      <ion-segment-button value="plannings">
        Plannings
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div [ngSwitch]="tab">
    <ion-list *ngSwitchCase="'info'">
      <ion-list-header>
        Risk Info
      </ion-list-header>
      <ion-grid>
        <ion-row>
          <ion-col text-center>
            <h2>{{ risk.riskTitle }}</h2>
            <div class="subtitle">
              on {{ project?.projectName || activity?.activityTitle }}
            </div>
            <ion-badge text-center [ngClass]="{ 
                'ion-badge-threat': risk.riskTypeName == 'Threat', 
                'ion-badge-opportunity': risk.riskTypeName == 'Opportunity' }">
              {{ risk.riskTypeName }}
            </ion-badge>

            <ion-badge text-center color="light">
              {{ risk.riskCategoryName }}
            </ion-badge>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-justify>
            <p>Cause: {{ risk.riskCause }}</p>
            <p>Effect: {{ risk.riskEffect }}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>

    <ion-list *ngSwitchCase="'actions'">
      <ion-list-header>
        {{ risk.riskTitle }} on 
        {{ project?.projectName || activity?.activityTitle }}
      </ion-list-header>

      <ion-item>
        <ion-label>Mark as risk</ion-label>
        <ion-toggle 
          [(ngModel)]="tRiskIdentification"
          (ionChange)="onRiskIdentification()"
          color="energized"></ion-toggle>
      </ion-item>
      
      <ion-item 
        [(hidden)]="!tRiskIdentification">
        <ion-label floating>What is your response plan?</ion-label>
        <ion-textarea 
          [ngModel]="risk.riskIdentificationResponse" 
          (ionBlur)="blurResponsePlanning($event)"></ion-textarea>
      </ion-item>

      <ion-item
        [(hidden)]="!tRiskIdentification">
        <ion-label>Mark as problem</ion-label>
        <ion-toggle 
          [(ngModel)]="tRiskProblem" 
          (ionChange)="onRiskProblem()"
          color="danger"></ion-toggle>
      </ion-item>

      <ion-item [(hidden)]="!tRiskProblem || !tRiskIdentification">
        <ion-label floating>How will you deal with it?</ion-label>
        <ion-textarea
        [ngModel]="risk.riskProblemDeal" 
        (ionBlur)="blurProblemDeal($event)"></ion-textarea>
      </ion-item>
    </ion-list>

    <ion-list *ngSwitchCase="'plannings'">
      <ion-list-header>
        Response plannings
      </ion-list-header>    
      
      <ion-card
        *ngFor="let rIdentification of riskIdentifications; let i = index">
        <ion-row *ngIf="riskIdentifications.length == 0">
          <ion-col text-center>
            <p>No plannings found or loading.</p>
          </ion-col>
        </ion-row>

        <ion-item>
          <h2>On {{ rIdentification.projectName || rIdentification.activityTitle }}</h2>
        </ion-item>

        <ion-card-content>
          <p>{{ rIdentification.riskIdentificationResponse }}</p>
        </ion-card-content>

        <ion-row>
          <ion-col align-self-center text-center>
            <ion-note>
              {{ rIdentification.riskIdentificationAddedDate | date:'dd/MM' }}
            </ion-note>
          </ion-col>
          <ion-col align-self-center text-center>
            <ion-note>
              {{ rIdentification.userName }}
            </ion-note>
          </ion-col>
        </ion-row>
      </ion-card>
      
    </ion-list>
  </div>
</ion-content>