<ion-header>
  <ion-navbar no-border-bottom>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Reviews ({{ riskReviews.length }}) </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="cards-bg social-cards">
  <ion-row *ngIf="riskReviews.length == 0">
    <ion-col text-center>
      <p>No risk reviews found</p>
      <p></p>
    </ion-col>
  </ion-row>

  <ion-card *ngFor="let rReview of riskReviews; let i = index">
    <ion-item>
      <h2> {{ i + 1 }}.  {{ rReview.riskTitle }}</h2>
      <p>on {{ rReview.projectName || rReview.activityTitle }}</p>
    </ion-item>

    <ion-card-content>
      <p>{{ rReview.riskCause }}</p>
    </ion-card-content>

    <ion-row>
      <ion-col align-self-center text-center>
        <ion-note>
          Identified in {{ rReview.riskIdentificationAddedDate | date: 'dd/MM' }}
        </ion-note>
      </ion-col>
      <ion-col align-self-center text-center>
        <ion-note [ngClass]="{ 'ion-note-threat': rReview.riskTypeName == 'Threat', 
          'ion-note-opportunity': rReview.riskTypeName == 'Opportunity' }">
          {{ rReview.riskTypeName }}
        </ion-note>
      </ion-col>
      <ion-col>
        <button ion-button color="primary" clear small icon-start
          (click)="onRiskReview()">
          <ion-icon name="checkmark-circle-outline"></ion-icon> Review Now</button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>