page-analytics {
    .list-content {
        padding-left: 0;
        padding-right: 0;
    }

    .low {
        color: #32db64;
    }

    .medium {
        color: #ffc527;
    }
    
    .red {
        color: #f53d3d;
    }   
}